html,body, #root{
    width: 100%;
    height: 100%;
}

.form-login{
    border: 1px solid #888;
    padding: 40px 40px ;
    min-width: 350px;
    border-radius: 5px;
}

.parent-chat{
    position: relative;
}

.accent-chat{
    min-height: 200px;
    background-color: #2196f3;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.container-chat{
    padding: 0;
    background-color: #eee;
}
.component-chat{
    height: 100%;
}

.chat-scroll{
    height: 100%;
    overflow: scroll;
}

.chat-list{
    display: flex;
    flex-direction: column;
}

.chat-list .chat-item{
    height: 60px;
    background-color: #fff;
    width: 100%;
    border:1px solid #eeeeee;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;

}

.chat-list .chat-item .chat-avatar{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: #888;
}

.chat-list .chat-item .chat-content{
    padding: 10px;
}

.chat-baloon{
    margin: 5px;
  
}

.chat-message{
    display: inline-block;
    padding: 10px;
    background-color: #2196f3;
    border-radius: 5px;
}

.chat-message.sender{
    background-color: #a5d6a7;
}

.chat-info{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
}

.chat-info .avatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #888;
}

.chat-info .name{
    padding-left: 20px;
}

.chat-content{
    height: calc(100% - 120px);
}

.chat-input{
    height: 60px;
    background-color: #fff;
    display: flex;
    padding: 10px;
}
.chat-input input{
    width: 100%;
}

.success-message{
    color: #4caf50;
}